
 <form action="/auth/signup" method="POST">
   <label> Surname
      <input type="text" name="lastName" placeholder="your family name">
   </label>
   <br>
   <label> Name
      <input type="text" name="firstName" placeholder="first name">
   </label>
   <br>
   <label> Email  
      <input type="email" name="email" placeholder="sry, 'admin' is alreay taken 🙄">
   </label>
<br>
   <label> credit card
      <input type="text" name="creditcard" placeholder="at least 8 characters!">
   </label>
<br>
   <label> Password
      <input id="signup-pw" type="password" name="password" placeholder="at least 8 characters!">
   </label>
  <input type="checkbox" onclick="Toggle()" />
  <b>Show Password</b>
 <b><p>Click on the checkbox to show or hide password 🙈: </p></b>
 <p>make sure no one is behind you 🤫</p>
  <script>
    // Change the type of input to password or text 
    function Toggle() { var temp
    = document.getElementById("signup-pw"); if (temp.type === "password") {
    temp.type = "text"; } else { temp.type = "password"; } }
  </script>


   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}