<h1>Search group!</h1>
<form action="/groups/groupsearchUrl" method = "POST">
   <label for="From">From :</label>
   <input type="text" name="startStation">
   <br>
   <br>
    <label for="To">To :</label>
    <input type="text" name="endStation">
    <br>
   <br>
    <label for="Date">Date :</label>
    <input type="date" name="date">
    <br>
   <br>
    <button type="submit">Search!</button>

</form>