
<h1>Welcome to {{title}}!</h1>
<h3>The DB-ticket sharing app that replace the one from DB itself, which got discontinued because germany likes to travel backwards in time when its comes to digitalization. I mean, we even have no functioning glass fibre network at all since the 80s (thanks Kohl!) and the mobile network has more holes in terms of coverage than a swiss chesse.</h3>
<p></p>


// adding a search field here
<p>search field place holder <br>
<a href="/groups/create">link to create group</a>
<br>
<br>
<br>
<br></p>