@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;600;700&display=swap');

body {


  padding: 50px;
  font-family: 'IBM Plex Sans Condensed';
  font: 14px;
  background-color: rgb(207, 207, 207);
  font-style: conde
  }

a {
  color: #00b7ff;
}

h1, h2, h3 {
  size: 15px;
}

form {
  overflow: hidden;
}

input {
  background-color: rgb(190, 190, 190);
  border-style: none;
  margin: 5px;
  width: 300px;
  float: right;
  clear: both;
  font-weight: 600;

}



button {
background-color: rgb(170, 170, 170);
border-style: none;
font-weight: 600;
}
