<h2>Create your group!</h2>


<form action="/groups" method="POST"\>
  <label for="startStation">Start</label> 
  <input id="startStation" type="text" name="startStation">
  
  <label for="endStation">End</label> 
  <input id="endStation" type="text" name="endStation">
  
  <label for="date">Plot</label> 
  <input id="date" type="date" name="date">



  <button type="submit">create this group</button>
</form>
<br><p><u>You are logged in as :</u><br>  
 {{user}}
</p>
<p>Go to <a href="/groupsearchUrl">Group search</a></p>

 //to be added : departure and arrival times maybe via select, comments, maxP, 