<h1>Which group do you want to join?</h1>
<br>
{{#each groups}}

<li>{{this.date}} from :
<b>{{this.startStation}}</b> to :
<b>{{this.endStation}}</b>
<br>
<a href="/groups/joingroup"><u><b>Click to initiate "joingroup" route</b></u></a></li>

{{/each}}
<br><br><p>Go to <a href="/groupsearchUrl">Group search</a></p>
