<h1>Create your group</h1>
<form action="/group-create" method = "POST">
   <label for="From">From :</label>
   <input type="text" name="" required>
   <br>
   <br>
    <label for="To">To :</label>
    <input type="text" name="" required>
    <br>
   <br>
    <label for="Date">Date :</label>
    <input type="date" name="">
    <button type="submit">Search!</button>
</form>